body{
	background-color: black;
}

.fonte-titulo{
	font-family: 'Bowlby One SC', cursive;
}


.nav-link{
	
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.space{
	margin-top: 120px;

}
.data, .imc{
	font-weight: bold;
	font-size: 15px;
}

.fonte-tabela{
	font-family: 'Bowlby One SC', cursive;
	color:#EEB422
}

.tabela-footer{
	
	height: 250px;
}

ion-icon {
  font-size: 22px;
}

